<!--
  Generated template for the RecoveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>recovery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div id="contenedorImg">
  <img src="../../assets/imgs/forgot-password.jpg" id="RecoverPicture">
</div>
<br>
  <form [formGroup]="recoveryForm">
    <ion-list>
        <ion-item>
            <ion-label staked>Email</ion-label>
            <ion-input type="text" formControlName="email" name="email" [(ngModel)]="data['email']" placeholder="ejemplo@ejemplo.com"></ion-input>
          </ion-item>
    
          <ion-item *ngIf="recoveryForm.get('email').errors && recoveryForm.get('email').dirty"> 
              <p *ngIf="recoveryForm.get('email').hasError('required')" style="white-space: normal; color:red">Este campo es obligatorio</p>
              <p *ngIf="recoveryForm.get('email').hasError('email')" style="white-space: normal; color:red">Por favor ingrese un correo valido</p>
          </ion-item>
    </ion-list>

  </form>
  <ion-footer>
    <button ion-button full (click)="recoveryPassword()" [disabled]="!recoveryForm.valid" round>Recover Password</button>
  </ion-footer>
</ion-content>
